<!DOCTYPE html>
<html>

<head>
<style type="text/css">
p {
  font-family: georgia, serif;
  font-size: x-large;
  color:#ff9900;
  }
a:hover {
  color: LimeGreen;
  text-decoration: none;
  }
</style>
</head>

<body>
<p>My name is aroh yadav. today's date is 2nd october.crazy things are happening in the world.peace out folks
</p>
</body> 

</html>